apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "api-gateway.fullname" . }}
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}

spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "api-gateway.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "api-gateway.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: api-gateway
          image: {{ include "api-gateway.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          env:
            - name: ENVIRONMENT
              value: {{ .Values.environment }}
            - name: SERVICE_NAME
              value: {{ include "api-gateway.name" . }}
            - name: SERVICE_ADDRESS
              value: 0.0.0.0:{{ .Values.service.port }}
            - name: AUTH_SERVICE_NAME
              value: auth-service
            - name: CONSUL_ADDRESS
              value: consul-server.consul.svc.cluster.local:8500

          ports:
            - containerPort: {{ .Values.service.port }}
              protocol: TCP
